@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

.container-sm {
	max-width: 920px;
	margin: 0 auto;
}

.title {
	font-size: 2.5rem;
}

.py-1 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.px-1 {
	padding-right: 10px;
	padding-left: 10px;
}
.py-2 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.px-2 {
	padding-right: 20px;
	padding-left: 20px;
}

nav {
	width: 100%;
	background-color: #0f1410 !important;
	height: 73px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	padding: 10px;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

header ul {
	display: flex;
	align-items: center;
}

header ul li {
	list-style: none;
	margin: 10px;
}

header ul li a {
	color: #c9cac9;
	cursor: pointer;
}

.btn {
	background-color: #02aa44;
	border-radius: 25px;
	padding: 10px 15px;
	border: none;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

.btn:hover {
	background-color: #05993e;
}

.show-case {
	background-color: #0f1410;
	height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.show-case-items {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin: 10px;
}

.show-case-items .right-side .show-case-title {
	color: #fff;
	font-size: 4.5rem;
	line-height: 0.95;
	font-weight: 700;
}

.show-case-items .right-side .show-case-content {
	font-size: 1.5rem;
	color: #c9cac9;
	margin-top: 25px;
	margin-bottom: 25px;
}

.store {
	display: flex;
	flex-direction: row;
}

.store img {
	cursor: pointer;
	margin: 10px;
}

.show-case-items .left-side img {
	margin-top: 80px;
	width: 80%;
}

.burger {
	display: none;
	width: 30px;
	color: #fff;
}

.menu.active {
	display: block;
}

.features {
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: row;
}

.features .right-side {
	display: flex;
	flex-direction: column;
	padding: 14px;
	margin: 10px;
}

.features .right-side .top-bar {
	color: #02aa44;
}
.features .right-side h1 {
	padding: 10px;
	font-size: 1.75rem;
}

.features .right-side .text {
	font-size: 1.15rem;
	padding: 10px;
	color: #606060;
}
.features .left-side {
	margin: 10px;
}
.features .left-side img {
	width: 420px;
}

.features-2 {
	flex-direction: row-reverse;
}

.achievements {
	width: 100%;
	background-color: #0f1410;
	padding: 100px;
}

.achievement-list {
	height: 100%;
	color: #fff;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	align-content: center;
}

.achievement-list svg {
	width: 30px;
}

.achievement-list .achievement-desc {
	font-size: 1.25rem;
}

.stars svg {
	color: #ffce2f;
}

.award svg {
	color: #f97414;
}

.group {
	color: #02aa44;
}

.uniqu {
	position: relative;
	width: 100%;
	padding: 40px;
}

.uniqu h1 {
	text-align: center;
	font-size: 2rem;
	margin: 2rem;
}

.unique-content {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-content: center;
}

.unique-content-item {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	padding: 10px;
}

.unique-content-item h2 {
	padding: 10px;
}
.unique-content-item p {
	/* padding: 10px; */
	text-align: center;
}

.unique-content-item .unique-content-1 {
	align-items: center;
	background-color: #2d7ef8;
	padding: 10px 15px;
	border-radius: 15px 10px 15px 10px;
}
.unique-content-item .unique-content-2 {
	align-items: center;
	background-color: #02aa44;
	padding: 10px 15px;
	border-radius: 15px 10px 15px 10px;
}
.unique-content-item .unique-content-3 {
	align-items: center;
	background-color: #f97414;
	padding: 10px 15px;
	border-radius: 15px 10px 15px 10px;
}

.unique-content-item svg {
	width: 30px;
	color: #fff;
}

.reviews {
	background-color: #f6f4ed;
	padding-top: 100px;
	padding-bottom: 100px;
}

.review-top .review-top-bar {
	color: #02aa44;
}

.review-top .review-top-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* .review-top .review-top-heading h1 {
	font-size: 2.5rem;
} */

.review-top-heading button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 25px;
	border-radius: 25px;
	border: 1px solid #d3c4c4;
	background-color: transparent;
	font-size: 16px;
	cursor: pointer;
}
.review-top-heading button svg {
	width: 25px;
}

.review-cards {
	margin-top: 50px;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-content: center;
}

.card {
	background-color: #ffffff;
	padding: 50px;
	border-radius: 10px;
	margin: 10px;
}

.card .card-body {
	padding: 10px;
}

.card .card-body p {
	font-size: 18px;
	font-weight: 600;
}

.card-footer {
	display: flex;
	justify-content: start;
	align-items: center;
}

.card-footer-person {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.card-footer-person h4 {
	font-weight: 500;
}
.card-footer-person h5 {
	font-weight: 400;
}

.download {
	padding: 100px;
}

.download .download-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.download .download-content .item {
	margin-right: 50px;
}

.download .download-content .left p {
	font-size: 1.3rem;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #3f3f3f;
}
.download .download-content img {
	width: 100%;
}

footer {
	background-color: #0f1410;
	padding: 50px;
}

footer .grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

footer .grid h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
}

footer .grid ul li {
	list-style: none;
	color: #d3c4c4;
	margin: 10px 0 10px 0;
}

footer .grid .contact {
	display: flex;
	flex-direction: column;
	color: #d3c4c4;
}

.social-media {
	margin-top: 15px;
}
.social-media .items {
	display: flex;
}

.contact span {
	color: #d3c4c4;
}
.contact a {
	color: #fff;
	text-decoration: none;
}

.social-media .items i {
	/* width: 80px; */
	font-size: 20px;
	margin: 10px;
	color: #ffffff;
}

footer .line {
	border-bottom: 1px solid #4f4f4e;
	padding: 20px;
}
footer .copy {
	color: #979792;
	padding-top: 40px;
	text-align: center;
}

@media (max-width: 768px) {
	.title {
		font-size: 1.5rem;
	}

	.menu {
		display: none;
		width: 100%;
		position: absolute;
		top: 70px;
		background-color: #0f1410;
		z-index: 2;
		padding: 15px;
	}
	.menu li:hover {
		background-color: #191f1a;
	}
	.purchase-btn {
		display: none;
	}

	.burger {
		display: inline;
	}

	.show-case-title {
		font-size: 3rem !important;
	}

	.show-case-items .right-side .show-case-content {
		font-size: 20px !important;
	}

	.show-case-items .left-side {
		display: none;
	}

	.features {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.achievement-list {
		grid-template-columns: 1fr;
		place-items: center;
		padding: 50px;
	}

	.achievement-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.unique-content {
		grid-template-columns: 1fr;
	}

	.review-cards {
		grid-template-columns: 1fr;
	}

	.download .download-content {
		flex-direction: column;
		margin: 10px;
	}

	footer .grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.col {
		margin: 10px;
	}
}

@media (min-width: 768px) {
	.title {
		font-size: 1.8rem;
	}

	.show-case-title {
		font-size: 3.1rem !important;
	}

	.show-case-items .right-side .show-case-content {
		font-size: 1.2rem !important;
	}
	.unique-content {
		grid-template-columns: 1fr 1fr;
	}

	.review-cards {
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 992px) {
	.show-case-title {
		font-size: 4.5rem !important;
	}
	.show-case-items .right-side .show-case-content {
		font-size: 1.5rem !important;
	}

	.unique-content {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.review-cards {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
